body {
    margin: 0;
    font-family: Arial, sans-serif; /* Adding a font for better text appearance */
}

.container {
    height: 230vh; /* Ensure the container is tall enough for scrolling */
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax1 {
    background-image: url('https://pbs.twimg.com/ext_tw_video_thumb/1796913936656474112/pu/img/W9ZZxJtY-dhvQ9VA.jpg');
}

.parallax2 {
    background-image: url('https://i.pinimg.com/280x280_RS/4b/cb/cf/4bcbcff6f0ecaed8a1072221536ce119.jpg');
}

.our_text {
    background-color: black;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
